html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: 400;
   color: #000;
   background-color: #D4D4D4;
}

p {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: #000;
}

.new__note {
   display: flex;
}

.sidebar {
   background-color: #D4D4D4;
   width: 251px;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.sidebar__nav {
   flex: 1;
   margin-top: 79px;
}

.sidebar__profile {
   display: flex;
   align-items: center;
   margin-top: 55px;
   margin-left: 16px;
}

.profile__name {
   font-weight: 500;
}

.profile__img {
   margin-right: 9px;
}

.sidebar__item {
   display: flex;
   align-items: center;
   font-weight: 500;
   margin-left: 35px;
   cursor: pointer;
}

.sidebar__item:first-child {
   margin-bottom: 41px;
}



.active {
   background-color: #B3B3B3;
   margin-right: 16px;
   padding-left: 19px;
   margin-left: 16px;
   padding-top: 11px;
   padding-bottom: 11px;
   border-radius: 7px;
}

.sidebar__img {
   margin-right: 10px;
}

.sidebar__btn {
   margin-left: 16px;
   margin-bottom: 10px;
   margin-right: 16px;
}

.sidebar__btn-note {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 219px;
   padding: 13px 20px;
   border-radius: 7px;
   background-color: #000;
   cursor: pointer;
   border: 0;
}

.sidebar__text-btn {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #fff;
}

.sidebar__btn-file {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 219px;
   padding: 13px 30px;
   border-radius: 7px;
   background-color: #000;
   margin-bottom: 41px;
   cursor: pointer;
   border: 0;
}

.sidebar__exit {
   display: flex;
   align-items: center;
   cursor: pointer;
   font-weight: 500;
   margin-left: 35px;
   margin-bottom: 55px;
}

.note {
   width: 100%;
   margin: 10px;
   background-color: #fff;
   padding: 120px 210px;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.note__wrapper {
   display: flex;
   justify-content: space-between;
}

.note__inner {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
}

.note__title {
   margin-bottom: 12px;
}

.note__title input {
   border: none;
   width: 100%;
   outline: none;
   font-size: 40px;
   font-weight: 700;
}

.note__title input::placeholder {
   font-size: 40px;
   font-weight: 700;
   color: #B3B3B3;
}

.note__text textarea {
   border: none;
   outline: none;
   font-size: 16px;
   width: 100%;
   resize: none;
}

.note__text textarea::placeholder {
   font-size: 16px;
   color: #B3B3B3;
}

.note__share {
   display: flex;
   align-items: center;
   align-self: flex-start;
   gap: 22px;
   margin-left: 20px;
   padding-top: 15px;
}

.note__share-button {
   display: flex;
   align-items: center;
   border: 0;
   background-color: #fff;
   font-size: 16px;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
   cursor: pointer;
}

.note__share-btn img {
   margin-right: 11px;
}

.note__share p {
   font-weight: 500;
   color: #B3B3B3;
}

.note__status {
   font-size: 14px;
}

.note__options {
   display: flex;
   align-items: end;
   justify-content: space-between;
}

.note__add-options {
   display: flex;
   align-items: center;
   gap: 50px;
}

.add__file input{
   cursor: pointer;
}

.add__file, 
.add__tag {
   display: flex;
   align-items: center;
}

.add__file img,
.add__tag img {
   margin-right: 8px;
}

.add__file input,
.add__tag input {
   border: none;
   outline: none;
   font-size: 16px;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
   color: #B3B3B3;
}

.add__tag input::placeholder {
   color: #B3B3B3;
}

.note__action-btn {
   display: flex;
   align-items: center;
   border: none;
   background-color: #fff;
   cursor: pointer;
}

.note__action-btn:first-child {
   margin-top: 24px;
}

.note__action-btn img {
   margin-right: 8px;
}

.note__action-btn p {
   font-size: 16px;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
}

.note__text-btn__save {
   color: #27AE60;
}

.note__text-btn__delete {
   color: #EF0202;
}