html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: 400;
   color: #000;
}

.registration {
   margin-top: 70px;
   text-align: center;
}

.registration img {
   margin-bottom: 70px;
}

.registration__title {
   margin-top: 0;
   margin-bottom: 50px;
   font-size: 34px;
   text-align: center;
   font-weight: 500;
}

.form {
   display: flex;
   flex-direction: column;
   align-items: center;    
}

.form input{
   width: 566px;
   height: 57px;
   border: 1px solid #D4D4D4;
   border-radius: 10px;
   padding: 19px 323px 18px 18px;
   margin-bottom: 28px;
}

.form input::placeholder {
   font-weight: 500;
   color: #B3B3B3;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
}

.form input:first-child {
   margin-bottom: 30px;
}

.registration__btn {
   width: 566px;
   height: 54px;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: 500;
   color: #ffff;
   background-color: black;
   border-radius: 10px;
   padding: 16px 184px;
   cursor: pointer;
}